.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}



.d-none{
    display: none !important;
}

.d-sm-block{
    display: block !important;
}


.footer{
    background-color: #04D4DE;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;

}

.jumbotron{
    padding: 70px 20px 70px 20px;
    margin: 0px auto;
    background:#03A5AD;
    color: floralwhite;
}


.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.body{
    padding: 50px 0px 0px 0px;
    z-index: 0px;
    background-color:#03A5AD;
}
 
.navbar-dark{
    background-color: #04D4DE;
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.modal-header{
    background-color: #03A5AD ;
}

.modal-body{
    background-color: #04D4DE;
}

.card-body{
    background-color: #04D4DE;

}

.card-body1{
    background-color: #035571;

}
.carousel{
    background: #03A5AD;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left:0;
    min-height: 300px;
}

#carouselButton{
    right: 0px;
    position: absolute;
    bottom: 0px;
}